$input-color: #7dbbc3;
$button-color: #f4b9b2;
$info-color: #daedbd;
$comment-highlight-color: #de6b48;
$danger-color: #de6b48;

@font-face {
  font-family: "Creative Block BB";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/CREABBRG.TTF"); /* IE9 Compat Modes */
}

@mixin button($color) {
  background-color: $color;
  border: 1px solid darken($color, 10);
  &:hover {
    background-color: lighten($color, 10);
  }
  &:active {
    background-color: lighten($color, 20);
  }
}

html,
*,
*:before,
*:after {
  box-sizing: border-box;
  color: #2d3436;
}

body {
  margin: 0;
}

.Application {
  margin: auto;
}

.Authentication {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

.logo {
  width: 65%;
  height: 20vh;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
  max-width: 360px;
  margin: auto;
}

.SignInSocial {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30vh;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.intro-img {
  width: 17em;
  height: 30vh;
}

.login-icon {
  width: 60px;
  height: 60px;
}

.Game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

.PlayersInfo {
  display: flex;
  width: 95%;
  height: 20vh;
}

.GameBoard {
  display: flex;
  width: 95%;
  max-width: 500px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 40vh;
}

.board-card {
  width: 30%;
  max-width: 120px;
  margin: 0;
}

.PlayerDeck {
  display: flex;
  width: 95%;
  max-width: 500px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.PlayerDeck-title {
  width: 100%;
  display: flex;
  align-items: center;
}

.PlayerDeck-title p {
  margin: 0 auto;
  font-family: "Creative Block BB";
  font-style: normal;
}

.PlayerDeck img {
  width: 16%;
  max-width: 60px;
  margin: 0;
}

.selected-player-deck-card {
  width: 40%;
  position: absolute;
  max-width: 170px;
  margin: auto;
  left: 0;
  bottom: 50px;
  right: 0;
}

.delete-selected-player-deck-card {
  width: 25px;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 282px;
  right: 0;
}

.delete-selected-player-deck-card {
  width: 25px;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 282px;
  right: 0;
}

.delete-player-played-card {
  width: 35px;
  margin: auto;
  position: absolute;
  bottom: 484px;
  right: 90px;
}

.delete-player-played-card_validated {
  width: 20px;
  margin: auto;
  position: absolute;
  bottom: 490px;
  right: 100px;
}

.validate-player-played-card {
  width: 35px;
  position: absolute;
  bottom: 310px;
  right: 90px;
}

.PlayersInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.GameBoardJudgement {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 100px 200px 100px;
}

.judgement-card {
  place-self: center;
}

.judgement-card-previous {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.judgement-card-actual-0 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.judgement-card-actual-1 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.judgement-card-actual-2 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.judgement-card-next {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
